## latex/markdown files to ignore
wp2epub/bm.markdown
jl*.markdown
Thumbs.db
.DS_Store
wp2latex/.DS_Store
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lol
*.ps
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
_FOSSIL_
*.snm
*.vrb
*_SYNCAPP/
*.*~
*.html
*.synctex.gz(busy)
desktop.ini
*.bak
.fossil-settings/ignore-glob
Icon
Icon?
